@font-face {
   font-family: Vulf-Light;
   src: url('../assets/fonts/VulfMono-Light.ttf');
}

@font-face {
   font-family: Vulf;
   src: url('../assets/fonts/VulfMono-Regular.ttf');
}

.Title {
   text-align: center;
   padding: 2% 0;
   font-family: Vulf;
   margin-top: 0.5em;
   margin-right: 0 !important;
}

.About {
   position: absolute;
   text-align: left;
   background-color: #383737;
   border-radius: 0 0 5px 5px;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   padding: 2% 2%;
   width: 100%;
   max-width: 100%;
   opacity: 0.95;
}

.AboutHeader {
   font-family: Vulf;
   position: absolute;
   text-align: center;
   margin: 0 auto;
   width: 100%;
}

.Code {
   position: relative;
   padding: 2% 0 0 0;
   box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
   height: 20px;
   width: 80%;
   position: absolute;
   margin-top: 2%;
   left: 50%;
   -webkit-transform: translateX(-50%);
   border-radius: 5px 5px 0 0;
   transform: translateX(-50%);
   opacity: 0.95;
}

.CodeBlock {
   color: white;
}

pre {
   color: white;
}