@font-face {
   font-family: Moon;
   src: url('../assets/fonts/Moon Bold.otf');
}

@font-face {
   font-family: Vulf;
   src: url('../assets/fonts/VulfMono-Light.ttf');
}

.AboutContainer {
   user-select: none;
}

.Main {
   text-align: center;
   position: relative;
   height: 100%;
   width: 100%;
}

/* Dynamically change the header based on screen width */
@media all and (min-width: 768px) {
   .Main-header {
      background-color: #222;
      height: 100px;
      line-height: 50px;
      padding: 20px;
      color: white;
      text-align: left;
      font-family: Vulf;
      user-select: none;
   }
}

@media all and (max-width: 767px) {
   .Main-header {
      background-color: #222;
      height: 100px;
      line-height: 20px;
      padding: 40px;
      color: white;
      text-align: left;
      font-family: Vulf;
      user-select: none;
   }
}

@media all and (min-width: 768px) {
   .Main-title {
      font-size: 70px;
      color: white;
      cursor: pointer;
      max-width: 100%;
   }
}

@media all and (max-width: 767px) {
   .Main-title {
      font-size: 35px;
      line-height: 1.6;
      color: white;
      cursor: pointer;
      max-width: 100%;
   }
}

.Main-header {
   background-color: #222;
   height: 100px;
   line-height: 20px;
   padding: 20px;
   color: white;
   text-align: left;
   font-family: Vulf;
   user-select: none;
}

a {
   text-decoration: none;

}

.Main-intro {
   font-size: large;
}

.Menu-button {
   position: absolute;
   right: 1%;
}

a {
   text-decoration: none;
}

/* Code for screen overlay */

.bm-burger-button {
   display: none;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
   height: 24px;
   width: 24px;
}

/* Color/shape of close button cross */

.bm-cross {
   background: #bdc3c7;
}

/* General sidebar styles */

.bm-menu {
   background: #373a47;
   padding: 2.5em 1.5em 0;
   font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
   fill: #373a47;
}

/* Wrapper for item list */

.bm-item-list {
   color: #b8b7ad;
   padding: 0.8em;
}

.bm-item-list a {
   color: white;
}

/* Styling of overlay */

.bm-overlay {
   background: rgba(0, 0, 0, 0.3);
}