@font-face {
   font-family: Moon;
   src: url('../assets/fonts/Moon Bold.otf');
}

@font-face {
   font-family: Vulf;
   src: url('../assets/fonts/VulfMono-Light.ttf');
}

.AboutContainer {
   user-select: none;
}

.Main {
   text-align: center;
   position: relative;
   height: 100%;
   width: 100%;
}

.Main-header {
   background-color: #222;
   height: 100px;
   line-height: 20px;
   padding: 20px;
   color: white;
   text-align: left;
   font-family: Vulf;
   user-select: none;
}

.Main-title {
   font-size: 5vw;
   color: white;
   cursor: pointer;
   max-width: 100%;
}

a {
   text-decoration: none;

}

.Main-intro {
   font-size: large;
}

.Menu-button {
   text-align: right;
}

a {
   text-decoration: none;
}

/* Code for screen overlay */

/*   */

.bm-burger-button {
   display: none;
}

/* Position and sizing of clickable cross button */

.bm-cross-button {
   height: 24px;
   width: 24px;
}

/* Color/shape of close button cross */

.bm-cross {
   background: #bdc3c7;
}

/* General sidebar styles */

.bm-menu {
   background: #373a47;
   padding: 2.5em 1.5em 0;
   font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */

.bm-morph-shape {
   fill: #373a47;
}

/* Wrapper for item list */

.bm-item-list {
   color: #b8b7ad;
   padding: 0.8em;
}

/* Styling of overlay */

.bm-overlay {
   background: rgba(0, 0, 0, 0.3);
}