@font-face {
   font-family: Moon;
   src: url('../assets/fonts/Moon Bold.otf');
}

@font-face {
   font-family: Vulf;
   src: url('../assets/fonts/VulfMono-Light.ttf');
}

.AboutContainer {
   user-select: none;
}

.Main {
   text-align: center;
   position: relative;
   height: 100%;
   width: 100%;
}

.Main-header {
   background-color: #222;
   height: 100px;
   line-height: 20px;
   padding: 20px;
   color: white;
   text-align: left;
   font-family: Vulf;
   user-select: none;
}

.Main-title {
   font-size: 60px;
   color: white;
   cursor: pointer;
}

.Main-intro {
   font-size: large;
}

a {
   text-decoration: none;
}